.container {
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  justify-content: space-between;
}

.content {
  max-width: 30vw;
  margin-top: 15vh;
}

h1 {
  line-height: 3.2rem;
  font-size: 2.5rem;
}

p {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 1.1rem;
}

.button-container {
  max-width: 30vw;
  border-radius: 50px;
  border: 2px solid rgb(106, 191, 206);
  display: flex;
  justify-content: end;
  margin-top: 9vh;
}

button {
  color: white;
  background-color: rgb(106, 191, 206);
  border: none;
  width: 40%;
  border-radius: 50px;
  padding: 13px;
  font-size: 0.9rem;
  font-weight: 500;
}

.image {
  background: url(./social.png);
  width: 50vw;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5vh;
}
